<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0kbCNkFi_Nwtew3zCFdU7Q7VvkdC73lU</string>
	<key>GCM_SENDER_ID</key>
	<string>244371593700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gt2</string>
	<key>PROJECT_ID</key>
	<string>gt01-53885</string>
	<key>STORAGE_BUCKET</key>
	<string>gt01-53885.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244371593700:ios:1fc26c9357a54449e14ff1</string>
</dict>
</plist>